div.header {
    width: 100%;
    padding: 0em calc(0.05 * 100vw);

}

div.header,
div.header nav {
    border-bottom: var(--border);
}


div.header,
div.header nav,
div.header .right-header,
div.logo,
.flex {
    display: flex;
    min-height: 2px;
    align-items: center;
    justify-content: space-between;
}

div.header img {
    height: 48px;
    cursor: pointer;
}

div.header nav a {
    margin: 0 1em;
    padding: 1.8em 0.8em;
    color: var(--muted-text-black);
    text-decoration: none;
    font-size: 1em;
}

div.header nav a:hover,
div.header nav a.selected {
    border-bottom: 3px solid var(--theme-green);
}



.fa-heart-o {
    font-size: 20px;
    color: var(--red);
    cursor: pointer;
}

div.right-header * {
    margin: 0 0.6em;
}

div.right-header img:first-child {
    height: 20px;
    cursor: pointer;
}

div.header h1 {
    color: var(--black);
    margin-left: 1em;
}

div.menu-bars {
    display: none;
}

@media (max-width: 1000px) {
    div.header nav {
        display: none;
    }
    div.header div.right-header {
        display: none;
    }
    div.header div.menu-bars {
        display: flex;
        flex-direction: column;
        width: 40px;
        justify-content: center;
        align-items: flex-end;
        height: 90px;
        cursor: pointer;
    }
    div.menu-bars div {
        height: 2px;
        background-color: var(--black);
        width: 30px;
        margin: 0.2em 0;
    }

    div.menu-bars div:first-child {
        width: 15px;
    }
    div.menu-bars div:nth-child(2) {
        width: 22px;
    }
}