div.mobile-menu {
    background-color: var(--muted-text-black);
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

div.mobile-menu>div a {
    display: block;
    color: var(--black);
    font-family: 'Nunito Sans';
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    margin: 1em 0;
    padding: 0.3em 0em;
}

div.mobile-menu>div a.selected {
    border-bottom: 3px solid var(--theme-green);
}

div.mobile-menu>div a:hover {
    border-bottom: 3px solid var(--theme-green);

}

div.mobile-menu p {
    position: absolute;
    top: 1.2em;
    right: 1.4em;
    font-size: 1.6em;
    color: var(--black);
    cursor: pointer;
}