div.product {
    position: relative;
    border-radius: 12px;
    padding: 1em;
    border: var(--border);
    width: 240px;
    margin:  1.4em 0.8em;
}

div.product img {
    height: 160px;
    display: block;
    margin: auto;
}

div.product .abs {
    color: var(--red);
    position: absolute;
    right: 1.4em;
    top: 1.4em;
    font-size: 0.8em;
    background-color: var(--muted-red);
    padding: 0.7em;
    border-radius: 8px;
}

div.product h2 {
    font-size: 1.1em;
    color: var(--black);
    margin-top: 0.8em;
}

div.prices {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 2px;
    align-items: center;
    margin-top: 1.4em;
}

div.prices p {
    color: var(--muted-text-black);
}
div.prices h4 {
    color: var(--black);
    font-weight: 800;
}

div.prices button {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--white-shade);
    padding: 0.7em 1em;
    color: var(--black);
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8em;
}

div.prices button:hover {
    background-color: var(--theme-green);
    color: var(--white-shade);
}

@media (max-width: 576px) {
    div.product {
        width: 200px;
    }
}

@media (max-width: 490px) {
    div.product {
        width: 100%;
    }
}
