:root {
    --theme-green: #47A359;
    --black: #35393C;
    --muted-text-black: rgb(180, 180, 180);
    --white-shade: #f3f3f3;
    --white: #ffffff;
    --yellow: #FFC327;
    --red: #FF696A;
    --muted-red: #FFF0F0;
    --border: 1px solid var(--white-shade);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans';
}

body,
.body, main {
    background-color: var(--white);
    width: 100%;
}

h1 {
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1.3px;
}

h3 {
    font-size: 1em;
}

main {
    display: flex;
}

section.left, section.right {
    width: 20%;
    height: 100vh;
    /* padding-bottom: 2EM; */
}

section.right {
    overflow-y: scroll;
}

section.left {
    overflow-y: scroll;
}

section.center {
    width: 60%;
    border-right: var(--border);
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 2EM;

}


section.left::-webkit-scrollbar, section.right::-webkit-scrollbar , section.center::-webkit-scrollbar {
    width: 5px;
    background-color: var(--white-shade);
}

section.center::-webkit-scrollbar-thumb {
    background-color: var(--theme-green);

}

img {
    object-fit: contain;
}

@media (max-width: 1000px) {
    section.right {
        display: none;
    }
    section.left {
        width: 25%;
    }
    section.center {
        width: 75%;
    }
}

@media (max-width: 700px) {
    section.left {
        display: none;
    }
    section.center {
        width: 100%;
    }
}