:root {
    --theme-green: #47A359;
    --black: #35393C;
    --muted-text-black: rgb(180, 180, 180);
    --white-shade: #f3f3f3;
    --white: #ffffff;
    --yellow: #FFC327;
    --red: #FF696A;
    --muted-red: #FFF0F0;
    --border: 1px solid var(--white-shade);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans';
}

body,
.body, main {
    background-color: var(--white);
    width: 100%;
}

h1 {
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1.3px;
}

h3 {
    font-size: 1em;
}

main {
    display: flex;
}

section.left, section.right {
    width: 25%;
    height: 90vh;
    overflow-y: scroll;
}

section.center {
    width: 50%;
    border-right: var(--border);
}


section.left::-webkit-scrollbar, section.right::-webkit-scrollbar {
    width: 2px;
    background-color: var(--white-shade);
}

img {
    object-fit: contain;
}