:root {
    --theme-green: #47A359;
    --black: #35393C;
    --muted-text-black: rgb(180, 180, 180);
    --white-shade: #f3f3f3;
    --white: #ffffff;
    --yellow: FFC327;
    --red: #FF696A;
    --border: 1px solid var(--white-shade);

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans';
}

body {
    background-color: var(--white);
    width: 100%;
}

h1 {
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1.3px;
}